#golden-grid {
	box-sizing: border-box;
	position: absolute;
	transition: all 1s, background-color 100ms;
	-webkit-transition: all 1s;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.golden-frame {
	box-sizing: border-box;
	position: absolute;
	transition: all 1s, background-color 100ms;
	-webkit-transition: all 1s, 
                        left 750ms,
                        top 750ms,
                        width 750ms,
                        height 750ms,
                        background-color 750ms;
	overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .05);
}

@media (orientation: portrait) {
    #golden-grid .golden-frame:nth-child(1) {
        left: 0vmin;
        top: 0vmax;
        width: 100vmin;
        height: 50vmax;
    }

    #golden-grid .golden-frame:nth-child(2) {
        left: 0vmin;
        top: 50vmax;
        width: 50vmin;
        height: 50vmax;
    }

    #golden-grid .golden-frame:nth-child(3) {
        left: 50vmin;
        top: 50vmax;
        width: 50vmin;
        height: 25vmax;
    }

    #golden-grid .golden-frame:nth-child(4) {
        left: 50vmin;
        top: 75vmax;
        width: 25vmin;
        height: 25vmax;
    }

    #golden-grid .golden-frame:nth-child(5) {
        left: 75vmin;
        top: 75vmax;
        width: 25vmin;
        height: 12.5vmax;
    }

    #golden-grid .golden-frame:nth-child(6) {
        left: 75vmin;
        top: 87.5vmax;
        width: 12.5vmin;
        height: 12.5vmax;
    }

    #golden-grid .golden-frame:nth-child(7) {
        left: 87.5vmin;
        top: 87.5vmax;
        width: 12.5vmin;
        height: 6.25vmax;
    }

    #golden-grid .golden-frame:nth-child(8) {
        left: 87.5vmin;
        top: 93.75vmax;
        width: 6.25vmin;
        height: 6.25vmax;
    }

    #golden-grid .golden-frame:nth-child(9) {
        left: 93.75vmin;
        top: 93.75vmax;
        width: 6.25vmin;
        height: 3.125vmax;
    }

    #golden-grid .golden-frame:nth-child(10) {
        left: 93.75vmin;
        top: 96.875vmax;
        width: 3.125vmin;
        height: 3.125vmax;
    }

    #golden-grid .golden-frame:nth-child(11) {
        left: 96.875vmin;
        top: 96.875vmax;
        width: 3.125vmin;
        height: 1.5625vmax;
    }

    #golden-grid .golden-frame:nth-child(12) {
        left: 96.875vmin;
        top: 98.4375vmax;
        width: 1.5625vmin;
        height: 1.5625vmax;
    }

    #golden-grid .golden-frame:nth-child(13) {
        left: 98.4375vmin;
        top: 98.4375vmax;
        width: 1.5625vmin;
        height: 0.78125vmax;
    }

    #golden-grid .golden-frame:nth-child(14) {
        left: 98.4375vmin;
        top: 99.21875vmax;
        width: 0.78125vmin;
        height: 0.78125vmax;
    }

    #golden-grid .golden-frame:nth-child(15) {
        left: 99.21875vmin;
        top: 99.21875vmax;
        width: 0.78125vmin;
        height: 0.390625vmax;
    }

    #golden-grid .golden-frame:nth-child(16) {
        left: 99.21875vmin;
        top: 99.609375vmax;
        width: 0.390625vmin;
        height: 0.390625vmax;
    }

    #golden-grid .golden-frame:nth-child(17) {
        left: 99.609375vmin;
        top: 99.609375vmax;
        width: 0.390625vmin;
        height: 0.1953125vmax;
    }

    #golden-grid .golden-frame:nth-child(18) {
        left: 99.609375vmin;
        top: 99.8046875vmax;
        width: 0.1953125vmin;
        height: 0.1953125vmax;
    }

    #golden-grid .golden-frame:nth-child(19) {
        left: 99.8046875vmin;
        top: 99.8046875vmax;
        width: 0.1953125vmin;
        height: 0.09765625vmax;
    }

    #golden-grid .golden-frame:nth-child(20) {
        left: 99.8046875vmin;
        top: 99.90234375vmax;
        width: 0.09765625vmin;
        height: 0.09765625vmax;
    }
}

@media (orientation: landscape) {
    #golden-grid .golden-frame:nth-child(1) {
        left: 0vmax;
        top: 0vmin;
        width: 50vmax;
        height: 100vmin;
    }

    #golden-grid .golden-frame:nth-child(2) {
        left: 50vmax;
        top: 0vmin;
        width: 50vmax;
        height: 50vmin;
    }

    #golden-grid .golden-frame:nth-child(3) {
        left: 50vmax;
        top: 50vmin;
        width: 25vmax;
        height: 50vmin;
    }

    #golden-grid .golden-frame:nth-child(4) {
        left: 75vmax;
        top: 50vmin;
        width: 25vmax;
        height: 25vmin;
    }

    #golden-grid .golden-frame:nth-child(5) {
        left: 75vmax;
        top: 75vmin;
        width: 12.5vmax;
        height: 25vmin;
    }

    #golden-grid .golden-frame:nth-child(6) {
        left: 87.5vmax;
        top: 75vmin;
        width: 12.5vmax;
        height: 12.5vmin;
    }

    #golden-grid .golden-frame:nth-child(7) {
        left: 87.5vmax;
        top: 87.5vmin;
        width: 6.25vmax;
        height: 12.5vmin;
    }

    #golden-grid .golden-frame:nth-child(8) {
        left: 93.75vmax;
        top: 87.5vmin;
        width: 6.25vmax;
        height: 6.25vmin;
    }

    #golden-grid .golden-frame:nth-child(9) {
        left: 93.75vmax;
        top: 93.75vmin;
        width: 3.125vmax;
        height: 6.25vmin;
    }

    #golden-grid .golden-frame:nth-child(10) {
        left: 96.875vmax;
        top: 93.75vmin;
        width: 3.125vmax;
        height: 3.125vmin;
    }

    #golden-grid .golden-frame:nth-child(11) {
        left: 96.875vmax;
        top: 96.875vmin;
        width: 1.5625vmax;
        height: 3.125vmin;
    }

    #golden-grid .golden-frame:nth-child(12) {
        left: 98.4375vmax;
        top: 96.875vmin;
        width: 1.5625vmax;
        height: 1.5625vmin;
    }

    #golden-grid .golden-frame:nth-child(13) {
        left: 98.4375vmax;
        top: 98.4375vmin;
        width: 0.78125vmax;
        height: 1.5625vmin;
    }

    #golden-grid .golden-frame:nth-child(14) {
        left: 99.21875vmax;
        top: 98.4375vmin;
        width: 0.78125vmax;
        height: 0.78125vmin;
    }

    #golden-grid .golden-frame:nth-child(15) {
        left: 99.21875vmax;
        top: 99.21875vmin;
        width: 0.390625vmax;
        height: 0.78125vmin;
    }

    #golden-grid .golden-frame:nth-child(16) {
        left: 99.609375vmax;
        top: 99.21875vmin;
        width: 0.390625vmax;
        height: 0.390625vmin;
    }

    #golden-grid .golden-frame:nth-child(17) {
        left: 99.609375vmax;
        top: 99.609375vmin;
        width: 0.1953125vmax;
        height: 0.390625vmin;
    }

    #golden-grid .golden-frame:nth-child(18) {
        left: 99.8046875vmax;
        top: 99.609375vmin;
        width: 0.1953125vmax;
        height: 0.1953125vmin;
    }

    #golden-grid .golden-frame:nth-child(19) {
        left: 99.8046875vmax;
        top: 99.8046875vmin;
        width: 0.09765625vmax;
        height: 0.1953125vmin;
    }

    #golden-grid .golden-frame:nth-child(20) {
        left: 99.90234375vmax;
        top: 99.8046875vmin;
        width: 0.09765625vmax;
        height: 0.09765625vmin;
    }
/***/
}