body, html {
    background-color: #000;
}

#golden-grid {
	box-sizing: border-box;
	position: absolute;
	transition: all 1s, background-color 100ms;
	-webkit-transition: all 150ms;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

#golden-grid div {
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

#golden-grid .golden-frame {
	box-sizing: border-box;
	position: absolute;
	transition: all 1s, background-color 100ms;
	-webkit-transition: all 100ms;
	overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#golden-grid .golden-frame:hover {
    transform: scale(1.05);
}

#watermark {
    position: absolute;
    background-image: url(stayfilm-logo.png);
    width: 168px;
    height: 45px;
    border: 0;
    right: 40px;
    bottom: 20px;
    color: white;
    font: bold 42px sans-serif;
    text-align: right;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#watermark span {
    background:#b0262c;
    padding: 5px;
}

@media (orientation: portrait) {
    #golden-grid .golden-frame:nth-child(1) {
        left: 0vmin;
        top: 0vmax;
        width: 100vmin;
        height: 50vmax;
        opacity: 1;
        -webkit-transition: all 250ms;
        background-size: contain;
    }

    #golden-grid .golden-frame:nth-child(2) {
        left: 0vmin;
        top: 50vmax;
        width: 50vmin;
        height: 50vmax;
        opacity: .9;
        -webkit-transition: all 500ms;
    }

    #golden-grid .golden-frame:nth-child(3) {
        left: 50vmin;
        top: 50vmax;
        width: 50vmin;
        height: 25vmax;
        opacity: .8;
        -webkit-transition: all 750ms;
    }

    #golden-grid .golden-frame:nth-child(4) {
        left: 50vmin;
        top: 75vmax;
        width: 25vmin;
        height: 25vmax;
        opacity: .7;
        -webkit-transition: all 1000ms;
    }

    #golden-grid .golden-frame:nth-child(5) {
        left: 75vmin;
        top: 75vmax;
        width: 25vmin;
        height: 12.5vmax;
        opacity: .6;
        -webkit-transition: all 1250ms;
    }

    #golden-grid .golden-frame:nth-child(6) {
        left: 75vmin;
        top: 87.5vmax;
        width: 12.5vmin;
        height: 12.5vmax;
        opacity: .5;
        -webkit-transition: all 1500ms;
    }

    #golden-grid .golden-frame:nth-child(7) {
        left: 87.5vmin;
        top: 87.5vmax;
        width: 12.5vmin;
        height: 6.25vmax;
        opacity: .4;
        -webkit-transition: all 1750ms;
    }

    #golden-grid .golden-frame:nth-child(8) {
        left: 87.5vmin;
        top: 93.75vmax;
        width: 6.25vmin;
        height: 6.25vmax;
        opacity: .3;
        -webkit-transition: all 2000ms;
    }

    #golden-grid .golden-frame:nth-child(9) {
        left: 93.75vmin;
        top: 93.75vmax;
        width: 6.25vmin;
        height: 3.125vmax;
        opacity: .2;
        -webkit-transition: all 2250ms;
    }

    #golden-grid .golden-frame:nth-child(10) {
        left: 93.75vmin;
        top: 96.875vmax;
        width: 3.125vmin;
        height: 3.125vmax;
        opacity: .1;
        -webkit-transition: all 2500ms;
    }

    #golden-grid .golden-frame:nth-child(11) {
        left: 96.875vmin;
        top: 96.875vmax;
        width: 3.125vmin;
        height: 1.5625vmax;
        opacity: .50;
        -webkit-transition: all 2750ms;
    }

    #golden-grid .golden-frame:nth-child(12) {
        left: 96.875vmin;
        top: 98.4375vmax;
        width: 1.5625vmin;
        height: 1.5625vmax;
        opacity: .45;
        -webkit-transition: all 3000ms;
    }

    #golden-grid .golden-frame:nth-child(13) {
        left: 98.4375vmin;
        top: 98.4375vmax;
        width: 1.5625vmin;
        height: 0.78125vmax;
        opacity: .40;
        -webkit-transition: all 3250ms;
    }

    #golden-grid .golden-frame:nth-child(14) {
        left: 98.4375vmin;
        top: 99.21875vmax;
        width: 0.78125vmin;
        height: 0.78125vmax;
        opacity: .35;
        -webkit-transition: all 3500ms;
    }

    #golden-grid .golden-frame:nth-child(15) {
        left: 99.21875vmin;
        top: 99.21875vmax;
        width: 0.78125vmin;
        height: 0.390625vmax;
        opacity: .30;
        -webkit-transition: all 3750ms;
    }

    #golden-grid .golden-frame:nth-child(16) {
        left: 99.21875vmin;
        top: 99.609375vmax;
        width: 0.390625vmin;
        height: 0.390625vmax;
        opacity: .25;
        -webkit-transition: all 4000ms;
    }

    #golden-grid .golden-frame:nth-child(17) {
        left: 99.609375vmin;
        top: 99.609375vmax;
        width: 0.390625vmin;
        height: 0.1953125vmax;
        opacity: .20;
        -webkit-transition: all 4250ms;
    }

    #golden-grid .golden-frame:nth-child(18) {
        left: 99.609375vmin;
        top: 99.8046875vmax;
        width: 0.1953125vmin;
        height: 0.1953125vmax;
        opacity: .15;
        -webkit-transition: all 4500ms;
    }

    #golden-grid .golden-frame:nth-child(19) {
        left: 99.8046875vmin;
        top: 99.8046875vmax;
        width: 0.1953125vmin;
        height: 0.09765625vmax;
        opacity: .1;
        -webkit-transition: all 4750ms;
    }

    #golden-grid .golden-frame:nth-child(20) {
        left: 99.8046875vmin;
        top: 99.90234375vmax;
        width: 0.09765625vmin;
        height: 0.09765625vmax;
        opacity: .05;
        -webkit-transition: all 5000ms;
    }
}

@media (orientation: landscape) {
    #golden-grid .golden-frame:nth-child(1) {
        left: 0vmax;
        top: 0vmin;
        width: 50vmax;
        height: 100vmin;
        opacity: 1;
        -webkit-transition: all 250ms;
        background-size: contain;
    }

    #golden-grid .golden-frame:nth-child(2) {
        left: 50vmax;
        top: 0vmin;
        width: 50vmax;
        height: 50vmin;
        opacity: .9;
        -webkit-transition: all 500ms;
    }

    #golden-grid .golden-frame:nth-child(3) {
        left: 50vmax;
        top: 50vmin;
        width: 25vmax;
        height: 50vmin;
        opacity: .8;
        -webkit-transition: all 750ms;
    }

    #golden-grid .golden-frame:nth-child(4) {
        left: 75vmax;
        top: 50vmin;
        width: 25vmax;
        height: 25vmin;
        opacity: .7;
        -webkit-transition: all 1000ms;
    }

    #golden-grid .golden-frame:nth-child(5) {
        left: 75vmax;
        top: 75vmin;
        width: 12.5vmax;
        height: 25vmin;
        opacity: .6;
        -webkit-transition: all 1250ms;
    }

    #golden-grid .golden-frame:nth-child(6) {
        left: 87.5vmax;
        top: 75vmin;
        width: 12.5vmax;
        height: 12.5vmin;
        opacity: .5;
        -webkit-transition: all 1500ms;
    }

    #golden-grid .golden-frame:nth-child(7) {
        left: 87.5vmax;
        top: 87.5vmin;
        width: 6.25vmax;
        height: 12.5vmin;
        opacity: .4;
        -webkit-transition: all 1750ms;
    }

    #golden-grid .golden-frame:nth-child(8) {
        left: 93.75vmax;
        top: 87.5vmin;
        width: 6.25vmax;
        height: 6.25vmin;
        opacity: .3;
        -webkit-transition: all 2000ms;
    }

    #golden-grid .golden-frame:nth-child(9) {
        left: 93.75vmax;
        top: 93.75vmin;
        width: 3.125vmax;
        height: 6.25vmin;
        opacity: .2;
        -webkit-transition: all 2250ms;
    }

    #golden-grid .golden-frame:nth-child(10) {
        left: 96.875vmax;
        top: 93.75vmin;
        width: 3.125vmax;
        height: 3.125vmin;
        opacity: .1;
        -webkit-transition: all 2500ms;
    }

    #golden-grid .golden-frame:nth-child(11) {
        left: 96.875vmax;
        top: 96.875vmin;
        width: 1.5625vmax;
        height: 3.125vmin;
        opacity: .50;
        -webkit-transition: all 2750ms;
    }

    #golden-grid .golden-frame:nth-child(12) {
        left: 98.4375vmax;
        top: 96.875vmin;
        width: 1.5625vmax;
        height: 1.5625vmin;
        opacity: .45;
        -webkit-transition: all 3000ms;
    }

    #golden-grid .golden-frame:nth-child(13) {
        left: 98.4375vmax;
        top: 98.4375vmin;
        width: 0.78125vmax;
        height: 1.5625vmin;
        opacity: .40;
        -webkit-transition: all 3250ms;
    }

    #golden-grid .golden-frame:nth-child(14) {
        left: 99.21875vmax;
        top: 98.4375vmin;
        width: 0.78125vmax;
        height: 0.78125vmin;
        opacity: .35;
        -webkit-transition: all 3500ms;
    }

    #golden-grid .golden-frame:nth-child(15) {
        left: 99.21875vmax;
        top: 99.21875vmin;
        width: 0.390625vmax;
        height: 0.78125vmin;
        opacity: .30;
        -webkit-transition: all 3750ms;
    }

    #golden-grid .golden-frame:nth-child(16) {
        left: 99.609375vmax;
        top: 99.21875vmin;
        width: 0.390625vmax;
        height: 0.390625vmin;
        opacity: .25;
        -webkit-transition: all 4000ms;
    }

    #golden-grid .golden-frame:nth-child(17) {
        left: 99.609375vmax;
        top: 99.609375vmin;
        width: 0.1953125vmax;
        height: 0.390625vmin;
        opacity: .20;
        -webkit-transition: all 4250ms;
    }

    #golden-grid .golden-frame:nth-child(18) {
        left: 99.8046875vmax;
        top: 99.609375vmin;
        width: 0.1953125vmax;
        height: 0.1953125vmin;
        opacity: .15;
        -webkit-transition: all 4500ms;
    }

    #golden-grid .golden-frame:nth-child(19) {
        left: 99.8046875vmax;
        top: 99.8046875vmin;
        width: 0.09765625vmax;
        height: 0.1953125vmin;
        opacity: .1;
        -webkit-transition: all 4750ms;
    }

    #golden-grid .golden-frame:nth-child(20) {
        left: 99.90234375vmax;
        top: 99.8046875vmin;
        width: 0.09765625vmax;
        height: 0.09765625vmin;
        opacity: .05;
        -webkit-transition: all 5000ms;
    }
}